html, body{
    overflow-x: hidden;
    height: 100vh;
    margin: 0;
}

.divvy-font-logo {
    font-family: Brush Script MT, Brush Script Std, cursive;
}

.divvy-bg-tile {
    background-color: #fdfeffbd;
}

.divvy-bg {
    background-image:linear-gradient(rgba(70, 69, 68, 0.179),rgba(255, 193, 7, 0.542),rgba(70, 69, 68, 0.179)); 
}


.divvy-hero {
    background-image: url("https://www.vecteezy.com/free-vector/white-luxury-background");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.divvy-header {
    color: #343a40;
}

.fit {
    height: 100vh;
}






