.divvy-bg-one {
    background-color: #5680E9;
}

.divvy-bg-two {
    background-color:#84CEEB ;
}

.divvy-bg-three {
    background-color:#5AB9EA ;
}

.divvy-bg-four {
    background-color:#C1C8E4 ;
}

.divvy-bg-five {
    background-color:#8860D0 ;
}

.divvy-bg-base {
    background-image:linear-gradient(to right,#84CEEB,#C1C8E4,#5AB9EA);
}