
img {
    position: relative;
}
.icon-button {
    position: absolute;
    left: 33%;
    top: 50%;
    font-size: 35px;
    color: white;
    display: none;
}
.profile-img:hover .icon-button {
    display: block;
}

.profile-img:active .icon-button {
    transform: translateY(4px);
}

