
img {
    position: relative;
    cursor: pointer;
}
.icon-button {
    position: absolute;
    left: 0;
    top: 0;
    font-size: 35px;
    color: red;
    display: none;
}
.profile-img:hover .icon-button {
    display: block;

}

.profile-img:active .icon-button {
    transform: translateY(4px);
}

