
img {
    position: relative;
}
.icon-button {
    position: absolute;
    left: 33%;
    top: 50%;
    font-size: 35px;
    color: white;
    display: none;
}
.test:hover .icon-button {
    display: block;
    /* color: green; */
}
.test:hover img {
    width: 10%;
}
